html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.header{
    background-color: #3d3e40;
    font-family: 'Source Sans Pro';
    display: table;
    width: 100%;
    -webkit-filter: drop-shadow(0px 12px 2px rgba(0,0,0,0.5)); 
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

.header-container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.header-picture,
.header-content{
    display: table-cell;
    vertical-align: top;
    padding: 20px;
}

.header-picture{
    -webkit-filter: drop-shadow(0px 12px 2px rgba(0,0,0,0.5)); 
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    width: 250px;
}

.header-picture img{
    max-width: 100%;
    width: 100%;
    border-radius: 100%
}

.header-content h1,
.header-content h2 {
    margin: 0;
    font-size: 40px;
}

.header-content p {
  font-size: 22px;
  font-weight: 300;
  margin: 20px 0;
}

.header-content h2,
.header-content p,
.header-button {
  color: #fff;
}

.header-content h1 {
  color: #80C6E0;
  font-size: 100px;
}

.portfolio-content h2,
.header-button {
  font-size: 30px;
  font-weight: 700;
}

.button-row {
  width: 100%;
}

.button-row:not(:first-child) {
  margin: 20px 0 30px 0;
}

.header-button {
    cursor: pointer;
    display: inline-block;
    align-content: center;
    text-align:center;
    width: calc(50% - 10px);
    border: 2px solid #ED6A5E;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 10px 40px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

a{
    text-decoration: none;
    font-weight: 700;
    
}


.header-button:hover {
  background: #ED6A5E;
}

.button-row .button:nth-child(2) {
  margin-left: 10px;
}


/*MADE SECTION-----------------------------------------------------------------------------------*/

.made{
    background-color: #fff;
    font-family: 'Source Sans Pro';
    display: table;
    width: 100%;
}

.made-container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.made-picture,
.made-content{
    display: table-cell;
    vertical-align: top;
    padding: 20px;
}

.made-picture{
    -webkit-filter: drop-shadow(0px 12px 2px rgba(0,0,0,0.5)); 
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    width: 250px;
}

.made-picture img{
    max-width: 100%;
    width: 100%;
    border-radius: 100%;
    margin-bottom: 25px;
}

.made-content h2 {
    margin: 0;
    font-size: 30px;
    color: #3d3e40;
}

.made-content p {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0;
    color: #3d3e40;
}

.made h1{
    color: #3d3e40;
    font-size: 100px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.made a:visited 
{ 
    text-decoration: none; color:#ED6A5E; 
}

.made a:hover{
    text-decoration: underline;
}

/*KNOW SECTION -----------------------------------------------------------------------------------*/
.know{
    background-color: #3d3e40;
    font-family: 'Source Sans Pro';
    display: table;
    width: 100%;
    -webkit-filter: drop-shadow(0px -12px 2px rgba(0,0,0,0.5)); 
    filter: drop-shadow(-12px 12px 7px rgba(0,0,0,0.5));
}

.know-container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.know h1 {
    color: #80C6E0;
    font-size: 100px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.know-content{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.know-skill img{
    display: block;
    width: 100%;
    -webkit-filter: drop-shadow(0px 12px 2px rgba(0,0,0,0.5)); 
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    width: 250px;
}

.know-skill-caption{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}



/*MOBILE STUFF-----------------------------------------------------------------------------------*/

@media(max-width:1170px) {
  /* Center All Elements in Mobile-----------------------------------------------------------------------------------*/
  .header-picture,
  .header-title {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .header-picture {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 200px;
    width: 100%;
  }
  .header-picture,
  .header-content {
    padding: 0;
  }
  .header-content h1 {
    font-size: 60px;
  }
    .header-content h2 
    {
      font-size: 25px;
    }
    
    .header-content p 
    {
        font-size: 18px;
    }
    
    .button-row:not(:first-child) 
    {
        margin: 0;
    }
    .button-row .header-button 
    {
      display: block;
      margin: 0 auto;
      box-sizing: content-box;
      max-width: calc(25% - 10px);
    }
    
    .button-row .header-button:nth-child(2) 
    {
        margin: 10px auto;
    }
    
    /*made mobile-----------------------------------------------------------------------------------*/
    .made-picture,
    .made-title 
    {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    
    .made-picture 
    {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 200px;
        width: 100%;
    }
    
    .made-picture,
    .made-content
    {
        padding: 0;
        display: block;
        padding-bottom: 15px;
    }
    
    .made-content h2 
    {
        font-size: 25px;
    }
    
    .made-content p 
    {
        font-size: 18px;
    }
    
    /*know mobile--------------------------------------*/
    .know-skill img{
        max-width: 75%;
    }
    .know-skill-caption{
        width: 75%;
    }


